.ActivityForm__form {
}

.ActivityForm__submit {
  background-color: hsl(var(--accent));
}

@media screen and (max-width: 500px) {
  .ActivityForm__submit {
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}
