.SortingControls {
  margin-left: 1rem;
}

.SortingControls select {
  border: none;
  padding: 1rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: bold;
  border-right: 16px solid transparent;
}
