.TripCard {
  border: 1px solid gray;
  margin: 1rem auto;
  padding: 1rem;
  width: max(400px, 55%);
  transition-duration: 200ms;
}

@media screen and (max-width: 500px) {
  .TripCard {
    width: 90%;
  }

  .TripCard__Wrapper {
    flex-direction: column;
  }

  .TripCard__img__wrapper {
    align-items: revert;
    justify-content: center;
  }
}

.TripCard:hover {
  transform: scale(1.02);
  transition: ease-in-out;
  transition-duration: 200ms;
}

.TripCard__Wrapper {
  display: flex;
  justify-content: space-between;
}

.TripCard__ul {
  margin: 0.5rem 0;
}

.TripCard__img__wrapper {
  display: flex;
  align-items: center;
}

.TripCard__img {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
