:root {
  /* colors */
  --_hue: 200;

  /* Light Mode */
  --bg--light: var(--_hue) 60% 94%;
  --bg--darker: var(--_hue) 60% 90%;
  --txt--light: var(--_hue) 40% 5%;
  --accent--light: var(--_hue) 55% 50%;
  --muted--light: var(--_hue) 30% 99%;

  --bg: var(--bg--light);
  --bg-dark: var(--bg--darker);
  --txt: var(--txt--light);
  --accent: var(--accent--light);
  --muted: var(--muted--light);
  --orange: #f6734a;
  color-scheme: light;
}
