:root {
  --font-family-sans-serif: system-ui, -apple-system, 'Segoe UI',
    Roboto, 'Helvetica Neue', 'Noto Sans', 'Liberation Sans', Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';

  .courgette-regular {
    font-family: 'Courgette', cursive;
    font-weight: 400;
    font-style: normal;
  }

  /* font sizes */
  --font-size-xs: 0.875rem; /* 14px */
  --font-size-base: 1rem; /* 16px */
  --font-size-lg: 1.125rem; /* 18px */
  --font-size-xl: 1.25rem; /* 20px */
  --font-size-2xl: 1.5rem; /* 24px */
  --font-size-3xl: 1.875rem; /* 30px */
  --font-size-4xl: 2.25rem; /* 36px */
  --font-size-5xl: 3rem; /* 48px */

  /* line heights */
  --leading-tight: 1.1;
  --leading-snug: 1.2;
  --leading-normal: 1.3;
  --leading-relaxed: 1.6;

  /* max line widths */
  --max-w-prose: 65ch;
  --max-w-h1: 1500px;
  --max-w-h2: 1200px;
  --max-w-h3: 1000px;
  --max-w-h4: 800px;
  --max-w-h5: 700px;
  --max-w-h6: 600px;
}
